<!DOCTYPE html>
<html>
<head>
    <title>이화마켓</title>
</head>
<link rel="stylesheet" type="text/css" href="list.css">
<body>
    <div class ="mypage">
	<a href="">login</a>
	<a href="">mypage</a>
    </div>
    <nav class="navbar">
        <div class="navbar__logo">
	      <a href="">이화마켓</a>
	</div>
        <ul>
          <li><a>전체상품</a></li>
          <li><a href="">리뷰</a></li>
          <li><a href="">상품등록</a></li>
          <li><a href="">리뷰등록</a></li>
        </ul>
    </nav>
    <hr>
    
    <div class="container">     
       <div class="card">
          <div class="img">
             <a><img src="cake.jpeg" width="200" height="250"><a/>
          </div>
	      <div class="text">
	         <p>케이크</p>
            <p>10000원</p>
	      </div>
      </div>
      <div class="card">
         <div class="img">
            <a><img src="cake.jpeg" width="200" height="250"><a/>
         </div>
        <div class="text">
           <p>케이크</p>
           <p>10000원</p>
        </div>
      </div>
      <div class="card">
         <div class="img">
            <a><img src="cake.jpeg" width="200" height="250"><a/>
         </div>
         <div class="text">
            <p>케이크</p>
            <p>10000원</p>
         </div>
      </div>
      <div class="card">
         <div class="img">
            <a><img src="cake.jpeg" width="200" height="250"><a/>
         </div>
        <div class="text">
           <p>케이크</p>
           <p>10000원</p>
        </div>
      </div>
      <div class="card">
         <div class="img">
            <a><img src="cake.jpeg" width="200" height="250"><a/>
         </div>
         <div class="text">
            <p>케이크</p>
            <p>10000원</p>
         </div>
      </div>
      <div class="card">
         <div class="img">
            <a><img src="cake.jpeg" width="200" height="250"><a/>
         </div>
        <div class="text">
           <p>케이크</p>
           <p>10000원</p>
        </div>
      </div>
      <div class="card">
         <div class="img">
            <a><img src="cake.jpeg" width="200" height="250"><a/>
         </div>
        <div class="text">
           <p>케이크</p>
           <p>10000원</p>
        </div>
      </div>
      <div class="card">
         <div class="img">
            <a><img src="cake.jpeg" width="200" height="250"><a/>
         </div>
        <div class="text">
           <p>케이크</p>
           <p>10000원</p>
        </div>
      </div>

   </div>
</body>
</html>